/* line 5, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby24-x64/lib/ruby/gems/2.4.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Demi.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr Ultra';
  src: url("/fonts/AvenirNextCyr-UltraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Avenir Next Cyr';
  src: url("/fonts/AvenirNextCyr-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
/** VARIABLES
===================================*/
/** RESET AND LAYOUT
===================================*/
/* line 5, ../sass/_slider.scss */
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  height: 100%;
  margin: 0 auto;
}

/* line 15, ../sass/_slider.scss */
.bx-wrapper img {
  max-width: 100%;
  display: block;
  min-height: 100%;
}

/* line 20, ../sass/_slider.scss */
.bxslider {
  margin: 0;
  padding: 0;
}

/* line 24, ../sass/_slider.scss */
ul.bxslider {
  list-style: none;
}

/* line 27, ../sass/_slider.scss */
.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
/* line 34, ../sass/_slider.scss */
.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
/* line 41, ../sass/_slider.scss */
.bx-wrapper .bx-prev {
  left: -70px;
}

/* line 44, ../sass/_slider.scss */
.bx-wrapper .bx-next {
  right: -70px;
}

/* line 47, ../sass/_slider.scss */
.bx-wrapper .bx-prev,
.bx-wrapper .bx-next {
  transition: 0.36s;
  -webkit-transition: 0.36s;
}
/* line 52, ../sass/_slider.scss */
.bx-wrapper .bx-prev svg,
.bx-wrapper .bx-next svg {
  fill: red;
}

/* line 56, ../sass/_slider.scss */
.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -22px;
  outline: 0;
  width: 45px;
  height: 45px;
  z-index: 2;
  padding: 0px;
}

/* line 67, ../sass/_slider.scss */
.bx-wrapper .bx-controls-direction a svg {
  width: 100%;
  height: 100%;
}

/* line 73, ../sass/_slider.scss */
.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
/* line 77, ../sass/_slider.scss */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
/* line 81, ../sass/_slider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

/* line 85, ../sass/_slider.scss */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
/* line 90, ../sass/_slider.scss */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 60px;
  text-align: center;
  line-height: 1.4;
  background: rgba(255, 255, 255, 0.8);
  opacity: 0.85;
  pointer-events: none;
}

/* line 102, ../sass/_slider.scss */
.bx-wrapper .bx-caption span {
  display: block;
  font-size: .85em;
  padding: 10px;
  color: #000;
}

/* line 108, ../sass/_slider.scss */
.slider__item {
  position: relative;
}

/* line 111, ../sass/_slider.scss */
.slider__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  padding: 24px 0;
  font-size: 13px;
  font-family: inherit;
  color: white;
}

/* line 6, ../sass/style.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/style.scss */
body {
  font-family: "Avenir Next Cyr";
  color: #344162;
  letter-spacing: 0.06em;
  background-color: #fff;
}

/* line 17, ../sass/style.scss */
img {
  width: 100%;
  height: auto;
}

/* line 21, ../sass/style.scss */
a {
  text-decoration: none;
  color: inherit;
}

/* line 25, ../sass/style.scss */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* line 30, ../sass/style.scss */
.heavy {
  font-weight: 900;
}

/* line 31, ../sass/style.scss */
.flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  align-items: center;
  -webkit-align-items: center;
}

/* line 32, ../sass/style.scss */
.yellow {
  color: #fdf4b2;
}

/* line 33, ../sass/style.scss */
.bold {
  font-weight: bolder;
}

/* line 34, ../sass/style.scss */
.thin {
  font-weight: 100;
}

/* line 35, ../sass/style.scss */
.blue {
  color: #344162;
}

/* line 36, ../sass/style.scss */
.wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

/* line 42, ../sass/style.scss */
.content_name {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}

/* line 49, ../sass/style.scss */
.button {
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 14px 0;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid #fdf4b2;
  color: #fdf4b2;
  background: rgba(0, 0, 0, 0.4);
}
/* line 61, ../sass/style.scss */
.button > * {
  display: inline-block;
  vertical-align: middle;
}

/* line 66, ../sass/style.scss */
.line_left, .line_right {
  width: 100%;
  height: 1px;
  max-width: 350px;
  position: relative;
  padding: 0px 10px;
  margin: 10px 0;
  background: white;
}

/* line 75, ../sass/style.scss */
.line_left::before {
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: inherit;
  border-radius: 100%;
  top: -10px;
}

/* line 85, ../sass/style.scss */
.line_right::before {
  content: '';
  position: absolute;
  left: auto;
  right: 0;
  width: 20px;
  height: 20px;
  background: inherit;
  border-radius: 100%;
  top: -10px;
}

/* line 96, ../sass/style.scss */
.nav {
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
  font-size: 16px;
}

/* line 107, ../sass/style.scss */
.nav .wrapper {
  position: relative;
}

/* line 110, ../sass/style.scss */
.nav_menu {
  flex-direction: column;
  -webkit-flex-direction: column;
  font-size: 12px;
  text-transform: lowercase;
  height: 28px;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  color: #fdf4b2;
  cursor: pointer;
}

/* line 121, ../sass/style.scss */
.menu_line {
  height: 1.5px;
  background: #fff;
}

/* line 125, ../sass/style.scss */
.menu_line_1 {
  width: 38px;
}

/* line 128, ../sass/style.scss */
.menu_line_2 {
  width: 27px;
  background-color: #fdf4b2;
}

/* line 132, ../sass/style.scss */
.menu_line_3 {
  width: 45px;
}

/* line 135, ../sass/style.scss */
.border_link {
  display: block;
  padding: 6px 10px;
  border: 1px solid #fdf4b2;
  color: #fdf4b2;
  text-transform: lowercase;
  text-align: center;
  border-radius: 2px;
}

/* line 144, ../sass/style.scss */
.webkam_item svg {
  display: inline-block;
  vertical-align: bottom;
}

/* line 149, ../sass/style.scss */
.left_nav, .right_nav {
  width: 35%;
}

/* line 152, ../sass/style.scss */
.nav_logo {
  width: 240px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

/* line 159, ../sass/style.scss */
.lang_select .active {
  font-weight: 500;
  color: #fdf4b2;
}

/* line 165, ../sass/style.scss */
.header {
  height: 100vh;
  width: 100%;
  position: relative;
}

/* line 170, ../sass/style.scss */
.gallery__item {
  height: 100vh;
}

/* line 173, ../sass/style.scss */
.gitem__1 {
  background: url("/img/main/bg-1.jpg") center no-repeat;
  background-size: cover;
}

/* line 177, ../sass/style.scss */
.gitem__2 {
  background: url("/img/gallery/gallery-3.jpg") center no-repeat;
  background-size: cover;
}

/* line 181, ../sass/style.scss */
.gitem__3 {
  background: url("/img/gallery/gallery-9.jpg") center no-repeat;
  background-size: cover;
}

/* line 185, ../sass/style.scss */
.header_box {
  position: absolute;
  width: 100%;
  max-width: 940px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #fff;
}
/* line 194, ../sass/style.scss */
.header_box .line_left {
  max-width: 520px;
}

/* line 198, ../sass/style.scss */
.header_box__left {
  width: 60%;
  border-right: 1px solid white;
}

/* line 202, ../sass/style.scss */
.header_box__right {
  width: 40%;
  height: 380px;
  background: url("/img/Round_logo.png") center no-repeat;
}

/* line 207, ../sass/style.scss */
.box_controls {
  text-align: center;
  margin: 24px auto;
}

/* line 211, ../sass/style.scss */
.header_minutes {
  font-size: 18px;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  padding-left: 30px;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
}
/* line 219, ../sass/style.scss */
.header_minutes .number {
  font-size: 100px;
}
/* line 222, ../sass/style.scss */
.header_minutes .yellow {
  font-weight: bold;
}

/* line 226, ../sass/style.scss */
.header_minutes_info {
  line-height: 1.5;
  padding-left: 10px;
}

/* line 230, ../sass/style.scss */
.slider_prev, .slider_next {
  cursor: pointer;
}

/* line 233, ../sass/style.scss */
.header .button {
  margin: 20px auto;
}

/* line 236, ../sass/style.scss */
.header .content_name {
  padding-left: 60px;
  padding-top: 80px;
}

/* line 240, ../sass/style.scss */
.header_dev {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  margin-left: -600px;
  bottom: 20px;
  width: 180px;
  padding: 14px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
}

@media only screen and (max-width: 1220px) {
  /* line 254, ../sass/style.scss */
  .header_dev {
    margin-left: 0;
    left: 20px;
  }
}
/* line 260, ../sass/style.scss */
.one {
  padding: 40px 0;
  overflow: hidden;
}
/* line 263, ../sass/style.scss */
.one .line_right {
  background-color: #344162;
}

/* line 267, ../sass/style.scss */
.section_name {
  font-weight: 500;
  font-size: 24px;
}

/* line 272, ../sass/style.scss */
.img_name {
  font-size: 54px;
  font-weight: bold;
  text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.4);
  letter-spacing: normal;
  margin-left: -35%;
  color: white;
  margin-top: 50%;
}

/* line 281, ../sass/style.scss */
.img_text {
  font-size: 18px;
  color: #344162;
  letter-spacing: 0;
  margin-top: 16px;
  margin-left: -35%;
}

/* line 288, ../sass/style.scss */
.one_inner {
  height: 500px;
  width: 100%;
  margin: 30px auto;
}

/* line 293, ../sass/style.scss */
.one_item {
  width: 33.33%;
  height: 100%;
}

/* line 297, ../sass/style.scss */
.one_img_box {
  width: 70%;
  height: 100%;
  border: 1px solid #344162;
  margin: 0 0 0 auto;
}

/* line 303, ../sass/style.scss */
.one_img_box__1 {
  background: url("/img/main/bg-2.jpg") center no-repeat;
  background-size: cover;
}

/* line 307, ../sass/style.scss */
.one_img_box__2 .img_name {
  color: #344162;
}

/* line 310, ../sass/style.scss */
.one_img_box__3 {
  background: url("/img/main/bg-3.jpg") center no-repeat;
  background-size: cover;
}

/* line 314, ../sass/style.scss */
.button_arrow {
  color: #344162;
  font-weight: 800;
  font-size: 16px;
  float: right;
}

/* line 320, ../sass/style.scss */
.two {
  padding-bottom: 20px;
}
/* line 322, ../sass/style.scss */
.two .line_right {
  background: #344162;
  margin-bottom: 40px;
}
/* line 326, ../sass/style.scss */
.two .img_name {
  width: 100%;
  text-align: center;
  top: 40%;
  position: absolute;
  margin: 0;
  text-transform: uppercase;
}

/* line 335, ../sass/style.scss */
figcaption {
  position: absolute;
  padding: 14px;
  line-height: 1.5;
  background: #fff;
  font-size: 15px;
}

/* line 342, ../sass/style.scss */
.round_text {
  font-size: 20px;
  font-weight: bold;
}

/* line 346, ../sass/style.scss */
.two_inner {
  margin-bottom: 30px;
}

/* line 349, ../sass/style.scss */
.two_item_1 {
  width: 25%;
}
/* line 351, ../sass/style.scss */
.two_item_1 .round_text {
  position: relative;
  top: -70px;
  margin-left: 70px;
}

/* line 357, ../sass/style.scss */
.two_item_2 {
  width: 75%;
  background: url("/img/main/bg-5.jpg") center no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
}
/* line 363, ../sass/style.scss */
.two_item_2 figcaption {
  width: 45%;
  bottom: 0;
  left: 0;
}

/* line 369, ../sass/style.scss */
.two_item_3, .two_item_4 {
  width: 50%;
}

/* line 374, ../sass/style.scss */
.two_item_3 .two_img_box {
  width: 80%;
  height: 290px;
}

/* line 379, ../sass/style.scss */
.two_item_3__1 {
  position: relative;
}
/* line 381, ../sass/style.scss */
.two_item_3__1 .round_text {
  position: absolute;
  right: -30%;
  top: 20%;
  z-index: 1;
}
/* line 387, ../sass/style.scss */
.two_item_3__1 .round_svg {
  position: absolute;
  z-index: -1;
  top: -25px;
}

/* line 393, ../sass/style.scss */
.two_item_3__1 .two_img_box {
  background: url("/img/main/bg-6.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}
/* line 397, ../sass/style.scss */
.two_item_3__1 .two_img_box figcaption {
  left: 0;
  bottom: 0;
}

/* line 402, ../sass/style.scss */
.two_item_3__2 {
  margin-top: 40px;
}
/* line 404, ../sass/style.scss */
.two_item_3__2 .two_img_box {
  background: url("/img/main/bg-7.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  margin: 12px 0 0 auto;
}
/* line 410, ../sass/style.scss */
.two_item_3__2 figcaption {
  right: 0;
  bottom: 0;
}
/* line 414, ../sass/style.scss */
.two_item_3__2 .round_text {
  padding-left: 60px;
}
/* line 417, ../sass/style.scss */
.two_item_3__2 .round_svg {
  position: relative;
  top: 10px;
  left: 35px;
  z-index: -1;
}

/* line 425, ../sass/style.scss */
.two_item_4 .two_img_box {
  width: 92%;
  height: 270px;
  background: url("/img/main/bg-8.jpg") center no-repeat;
  background-size: cover;
  position: relative;
  margin: 20px 0 0 auto;
}
/* line 433, ../sass/style.scss */
.two_item_4 .round_text {
  text-align: right;
}
/* line 436, ../sass/style.scss */
.two_item_4 figcaption {
  left: 15%;
  bottom: -10%;
}

/* line 441, ../sass/style.scss */
.three {
  height: 530px;
  position: relative;
  margin-bottom: 50px;
}
/* line 445, ../sass/style.scss */
.three .line_right {
  background-color: #344162;
}
/* line 448, ../sass/style.scss */
.three figcaption {
  padding: 24px 80px;
  width: 100%;
  max-width: 570px;
  left: 50%;
  bottom: -50px;
  transform: translateX(-50%);
}

/* line 457, ../sass/style.scss */
.name_box {
  padding: 10px 50px 24px;
  background: #fff;
}

/* line 461, ../sass/style.scss */
.three_item__1 {
  width: 40%;
  height: 100%;
  background: url("/img/main/bg-9.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

/* line 468, ../sass/style.scss */
.three_item__2 {
  width: 60%;
  height: 100%;
  background: url("/img/main/bg-10.jpg") center no-repeat;
  background-size: cover;
}

/* line 474, ../sass/style.scss */
.three_btn {
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 14px;
}
/* line 479, ../sass/style.scss */
.three_btn > * {
  display: inline-block;
  vertical-align: middle;
}

/* line 485, ../sass/style.scss */
.four .wrapper {
  min-height: 625px;
  background: url("/img/main/bg-11.jpg") left no-repeat;
}
/* line 488, ../sass/style.scss */
.four .wrapper .line_right {
  background-color: #344162;
}
/* line 492, ../sass/style.scss */
.four .wrapper .section_name {
  margin: 12px 0;
}

/* line 496, ../sass/style.scss */
.four_info {
  width: 50%;
  max-width: 460px;
  background-color: #ffffff;
  padding: 30px 40px;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 1;
}
/* line 504, ../sass/style.scss */
.four_info p {
  letter-spacing: -.5px;
  line-height: 1.8;
}
/* line 508, ../sass/style.scss */
.four_info .round_svg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

/* line 515, ../sass/style.scss */
.five {
  margin-top: 30px;
}
/* line 517, ../sass/style.scss */
.five .section_name {
  margin: 12px 0;
  text-align: right;
}
/* line 521, ../sass/style.scss */
.five .line_left {
  background-color: #344162;
  margin: 16px 0 0 auto;
}
/* line 525, ../sass/style.scss */
.five .bx-wrapper {
  margin-top: 50px;
}
/* line 528, ../sass/style.scss */
.five .bx-wrapper .bx-prev {
  left: -50px;
}
/* line 531, ../sass/style.scss */
.five .bx-wrapper .bx-next {
  right: -50px;
}

/* line 535, ../sass/style.scss */
.news_slider_item {
  position: relative;
  width: 320px;
  height: 310px;
}
/* line 539, ../sass/style.scss */
.news_slider_item figcaption {
  width: 100%;
  left: 0;
  bottom: 0;
}
/* line 544, ../sass/style.scss */
.news_slider_item a {
  position: absolute;
  top: -30px;
  right: 0;
  width: 50%;
  background: #ffffff;
  height: 30px;
  text-align: center;
  line-height: 30px;
  letter-spacing: 3px;
}

/* line 558, ../sass/style.scss */
.news_slider_item_1 {
  background: url("/img/main/bg-12.jpg") top no-repeat;
  background-size: 100% auto;
}

/* line 562, ../sass/style.scss */
.subscribe {
  height: 52px;
  width: 100%;
  max-width: 520px;
  border: 1.5px solid #99a0b0;
  margin: 30px auto;
  position: relative;
}
/* line 569, ../sass/style.scss */
.subscribe:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 70%;
  background: #344162;
  left: 70%;
}
/* line 577, ../sass/style.scss */
.subscribe input {
  height: 100%;
  border: none;
  -webkit-appearance: none;
  background: none;
  color: #344162;
  outline: none;
}
/* line 585, ../sass/style.scss */
.subscribe input[type="email"] {
  width: 70%;
  padding-left: 20px;
  letter-spacing: 3px;
}
/* line 590, ../sass/style.scss */
.subscribe input[type="submit"] {
  width: 30%;
  text-transform: uppercase;
  font-weight: 800;
  cursor: pointer;
  letter-spacing: 1px;
}
/* line 597, ../sass/style.scss */
.subscribe ::-webkit-input-placeholder {
  color: #344162;
  letter-spacing: 3px;
}
/* line 598, ../sass/style.scss */
.subscribe ::-moz-placeholder {
  color: #344162;
  letter-spacing: 3px;
}
/* line 599, ../sass/style.scss */
.subscribe :-ms-input-placeholder {
  color: #344162;
  letter-spacing: 3px;
}
/* line 600, ../sass/style.scss */
.subscribe :-moz-placeholder {
  color: #344162;
  letter-spacing: 3px;
}

/* line 603, ../sass/style.scss */
.six .line_right {
  background-color: #344162;
  margin: 30px 0;
}

/* line 609, ../sass/style.scss */
.section_gallery {
  height: 630px;
  width: 100%;
}

/* line 613, ../sass/style.scss */
.section_gallery_item {
  height: 100%;
  width: 100%;
}

/* line 617, ../sass/style.scss */
.six_wrapper {
  position: relative;
}

/* line 620, ../sass/style.scss */
.section_gallery_item__1 {
  background: url("/img/gallery/gallery-1.jpg") center no-repeat;
  background-size: cover;
}

/* line 621, ../sass/style.scss */
.section_gallery_item__2 {
  background: url("/img/gallery/gallery-2.jpg") center no-repeat;
  background-size: cover;
}

/* line 622, ../sass/style.scss */
.section_gallery_item__3 {
  background: url("/img/gallery/gallery-3.jpg") center no-repeat;
  background-size: cover;
}

/* line 623, ../sass/style.scss */
.section_gallery_item__4 {
  background: url("/img/gallery/gallery-4.jpg") center no-repeat;
  background-size: cover;
}

/* line 624, ../sass/style.scss */
.section_gallery_item__5 {
  background: url("/img/gallery/gallery-5.jpg") center no-repeat;
  background-size: cover;
}

/* line 625, ../sass/style.scss */
.section_gallery_item__6 {
  background: url("/img/gallery/gallery-6.jpg") center no-repeat;
  background-size: cover;
}

/* line 626, ../sass/style.scss */
.section_gallery_item__7 {
  background: url("/img/gallery/gallery-7.jpg") center no-repeat;
  background-size: cover;
}

/* line 627, ../sass/style.scss */
.section_gallery_item__8 {
  background: url("/img/gallery/gallery-8.jpg") center no-repeat;
  background-size: cover;
}

/* line 628, ../sass/style.scss */
.wrapper_pager {
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 10px 70px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

/* line 636, ../sass/style.scss */
.gal_min_item {
  border: 3px solid transparent;
  transition: 0.5s;
}

/* line 640, ../sass/style.scss */
.gal_min_item:hover {
  border: 3px solid #344162;
}

/* line 644, ../sass/style.scss */
.seven {
  margin-top: 40px;
  margin-bottom: 30px;
}
/* line 647, ../sass/style.scss */
.seven .section_name {
  text-align: right;
}
/* line 650, ../sass/style.scss */
.seven .line_left {
  background: #344162;
  margin: 30px 0 30px auto;
}
/* line 654, ../sass/style.scss */
.seven .round_text {
  margin-bottom: 160px;
  z-index: 1;
  text-transform: uppercase;
}
/* line 659, ../sass/style.scss */
.seven .round_svg {
  position: absolute;
  z-index: -1;
  left: -50px;
  top: -50px;
}
/* line 665, ../sass/style.scss */
.seven .button_arrow {
  margin: 30px auto 0 0;
  float: none;
  display: block;
}
/* line 670, ../sass/style.scss */
.seven .number {
  font-size: 60px;
}

/* line 674, ../sass/style.scss */
.seven_info {
  width: 30%;
  position: relative;
  line-height: 1.8;
  padding: 0 30px 30px;
}

/* line 680, ../sass/style.scss */
.seven_text {
  font-size: 20px;
}

/* line 683, ../sass/style.scss */
.seven_img {
  width: 70%;
  height: 470px;
  background: url("/img/main/bg-13.jpg") center no-repeat;
  background-size: cover;
}

/* line 689, ../sass/style.scss */
.seven_box {
  width: 300px;
  background: rgba(255, 255, 255, 0.9);
  padding: 12px;
  margin: 50px 50px 0 auto;
  text-align: center;
}
/* line 695, ../sass/style.scss */
.seven_box .bold {
  text-transform: uppercase;
  margin: 12px auto;
}
/* line 700, ../sass/style.scss */
.seven_box .flex {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  letter-spacing: 0;
}
/* line 707, ../sass/style.scss */
.seven_box p:not(.thin) {
  line-height: 1.8;
}

/* line 711, ../sass/style.scss */
.seven_item {
  width: 50%;
  text-align: center;
}

/* line 715, ../sass/style.scss */
.footer {
  background: url("/img/main/footer.jpg") center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 30px;
}
/* line 721, ../sass/style.scss */
.footer .border_link {
  font-size: 18px;
  text-transform: uppercase;
  padding: 16px 10px;
}
/* line 726, ../sass/style.scss */
.footer .wrapper {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

/* line 731, ../sass/style.scss */
.menu_subname {
  font-size: 20px;
  color: #fdf4b2;
  text-transform: uppercase;
  line-height: 1.8;
}

/* line 737, ../sass/style.scss */
.footer_menu_item {
  padding: 0 20px;
  line-height: 1.8;
}

/* line 741, ../sass/style.scss */
.menu_links {
  text-transform: uppercase;
  line-height: 1.8;
}

/* line 745, ../sass/style.scss */
.footer_tel {
  font-size: 30px;
  font-weight: 500;
}

/* line 749, ../sass/style.scss */
.copyright {
  margin-top: 24px;
}
