
.body_developer{
  // background: url('/img/developer/dev-bg.jpg');
  // background-size: cover;
  min-height: 100vh;
  position: relative;
  // height: 100%;
  padding-bottom: 80px;
  .nav{
    // background-color: rgba(52,65,98,.8);
  }
  .footer{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0px;
    // background:rgba(52,65,98,.8)
    .copyright{
      align-items: center;
      -webkit-align-items:center;
      margin-top: 12px;
    }
  }
  .footer_inner_menu{
    display: none;
  }
}
main.developer{
  // background: transparent;
  padding-top: 90px;
  min-height: 80%;
  // .section_name{
  //   text-align: right;
  // }
  // .line_left{
  //   margin: 20px 0 20px auto;
  // }
}
.developer_box{
  width: 420px;
  margin: 30px auto;
  text-align: center;
  background: #ffffff;
  padding: 30px 24px;
  box-shadow: 1px 1px 37px rgba(0,0,0,.4);

  img{
    max-width: 340px;
    margin-bottom: 20px;
  }
}
.developer_item{
  width: 50%;
}
.developer_item:nth-child(2){
  padding-left: 60px;
  line-height: 1.8;
  p{
    padding: 10px 0;
  }
}
@media only screen and (max-width: 768px) {
  .body_developer{
    padding-bottom: 180px;
  }
  main.developer {
    padding-top: 110px;
    .wrapper{
      flex-direction: column-reverse;
      -webkit-flex-direction: column-reverse;
      background: rgba(255,255,255,.6);
    }

}
.developer_item {
    width: 100%;
}
.developer_box {
    width: 300px;
    margin: 12px auto;
}
.developer_item:nth-child(2) {
    padding-left: 0px;
    line-height: 1.5;
  }




}
