
.body_developer{
  background: url('/img/developer/dev-bg.jpg');
  background-size: cover;
  height: 100%;
  .nav{
    background-color: rgba(52,65,98,.8);
  }
  .footer{
    background:rgba(52,65,98,.8)
  }
}
section.developer{
  padding-top: 90px;
  min-height: 80%;
  .section_name{
    text-align: right;
  }
  .line_left{
    margin: 20px 0 20px auto;
  }
}
.developer_box{
  width: 420px;
  margin: 30px auto;
  text-align: center;
  background: #ffffff;
  padding: 30px 24px;
  img{
    max-width: 340px;
    margin-bottom: 20px;
  }
}
.developer_item{
  width: 50%;
}
.developer_item:nth-child(2){
  padding-left: 60px;
  line-height: 1.8;
  p{
    padding: 16px 0;
  }
}
