// July 2018 Lybediny Begas Anna

@import "compass/reset";
@import "_variables";
@import "_slider";
*{  box-sizing: border-box;}
body{
  font-family: $avenir;
  color: $blue;
  letter-spacing: 0.06em;
  background-color: #fff;
  *{
    // transition: 0.4s;
    // -webkit-transition: .4s;
  }
}
img{
  width: 100%;
  height: auto;
}
a{
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.heavy{font-weight: 900;}
.flex {@include flex;}
.yellow {color: $yellow;}
.bold{font-weight: bolder;}
.thin{font-weight: 100;}
.blue {color:  $blue;}
.wrapper{
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}
.content_name{
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.4);
}
.button{
  display: block;
  width: 100%;
  max-width: 250px;
  padding: 14px 0;
  font-size: 18px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid $yellow;
  color: $yellow;
  background: rgba(0,0,0,.4);
  &>*{
    display: inline-block;
    vertical-align: middle;
  }
}
.line_left, .line_right{
  width: 100%;
  height: 1px;
  max-width: 350px;
  position: relative;
  padding: 0px 10px;
  margin: 10px 0;
  background: $blue;
}
.line_left::before{
  content: '';
  position: absolute;
  left: 0;
  width: 20px;
  height: 20px;
  background: inherit;
  border-radius: 100%;
  top: -10px;
}
.line_right::before{
  content: '';
  position: absolute;
  left: auto;
  right: 0;
  width: 20px;
  height: 20px;
  background: inherit;
  border-radius: 100%;
  top: -10px;
}
.nav{
  width: 100%;
  padding: 10px 0;
  background: rgba(0,0,0,.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  color: white;
  font-size: 16px;
}
.nav .wrapper{
  position: relative;
}
.nav_menu{
  flex-direction: column;
  -webkit-flex-direction: column;
  font-size: 12px;
  text-transform: lowercase;
  height: 28px;
  align-items: flex-start;
  -webkit-align-items: flex-start;
  color: $yellow;
  cursor: pointer;
}
.menu_line{
  height: 1.5px;
  background: #fff;
}
.menu_line_1{
  width: 38px;
}
.menu_line_2{
  width: 27px;
  background-color: $yellow;
}
.menu_line_3{
  width: 45px;
}
.border_link{
  display: block;
  padding: 6px 10px;
  border: 1px solid $yellow;
  color: $yellow;
  text-transform: lowercase;
  text-align: center;
  border-radius: 2px;
}
.webkam_item svg{
  display: inline-block;
  vertical-align: bottom;

}
.left_nav, .right_nav{
  width: 35%;
}
.nav_logo{
  width: 240px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.lang_select .active{
  font-weight: 500;
  color: $yellow;
}

                                        // styles for header
.header{
  height: 100vh;
  width: 100%;
  position: relative;
}
.gallery__item{
  height: 100vh;
}
.gitem__1{
  background: url('/img/main/bg-1.jpg')  center no-repeat;
  background-size: cover;
}
.gitem__2{
  background: url('/img/gallery/gallery-3.jpg')  center no-repeat;
  background-size: cover;
}
.gitem__3{
  background: url('/img/gallery/gallery-9.jpg')  center no-repeat;
  background-size: cover;
}
.header_box{
  position: absolute;
  width: 100%;
  max-width: 940px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  color: #fff;
  .line_left{
    max-width: 520px;
    background: white;

  }
}
.header_box__left{
  width: 60%;
  border-right: 1px solid white;
}
.header_box__right{
    width: 40%;
    height: 380px;
    background: url('/img/Round_logo.png') center no-repeat;
}
.box_controls{
  text-align: center;
  margin: 24px auto;
}
.header_minutes {
  font-size: 18px;
  display: flex;
  align-items: center;
  display: -webkit-flex;
  -webkit-align-items: center;
  padding-left: 30px;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.4);
  .number{
    font-size: 100px;
  }
  .yellow{
    font-weight: bold;
  }
}
.header_minutes_info{
  line-height: 1.5;
  padding-left: 10px;
}
.slider_prev, .slider_next{
  cursor: pointer;
}
.header .button{
  margin: 20px auto;
}
.header .content_name{
  padding-left: 60px;
  padding-top: 80px;
}
.header_dev{
  position: absolute;
  background: rgba(0,0,0,.5);
  left: 50%;
  margin-left: -600px;
  bottom: 20px;
  width: 180px;
  padding: 14px;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.4;
}
@media only screen and (max-width: 1220px) {
  .header_dev{
    margin-left: 0;
    left: 20px;
  }
}
// section one
.one{
  padding: 40px 0;
  overflow: hidden;
  }
.section_name{
  font-weight: 500;
  font-size: 24px;
}

.img_name{
  font-size: 54px;
  font-weight: bold;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.4);
  letter-spacing: normal;
  margin-left: -35%;
  color: white;
  margin-top: 50%;
}
.img_text{
  font-size: 18px;
  color: $blue;
  letter-spacing: 0;
  margin-top: 16px;
  margin-left: -35%;
}
.one_inner{
  height: 500px;
  width: 100%;
  margin: 30px auto;
}
.one_item{
  width: 33.33%;
  height: 100%;
}
.one_img_box{
  width: 70%;
  height: 100%;
  border: 1px solid $blue;
  margin: 0 0 0 auto;
}
.one_img_box__1{
  background: url('/img/main/bg-2.jpg') center no-repeat;
  background-size: cover;
}
.one_img_box__2 .img_name{
  color: $blue;
}
.one_img_box__3{
  background: url('/img/main/bg-3.jpg') center no-repeat;
  background-size: cover;
}
.button_arrow{
  color: $blue;
  font-weight: 800;
  font-size: 16px;
  float: right;
}
.two{
  padding-bottom: 20px;
  .line_right{
    background: $blue;
    margin-bottom: 40px;
  }
  .img_name{
    width: 100%;
    text-align: center;
    top: 40%;
    position: absolute;
    margin: 0;
    text-transform: uppercase;
  }
}
figcaption{
  position: absolute;
  padding: 14px;
  line-height: 1.5;
  background: #fff;
  font-size: 15px;
}
.round_text{
  font-size: 20px;
  font-weight: bold;
}
.two_inner{
  margin-bottom: 30px;
}
.two_item_1{
  width: 25%;
  .round_text{
    position: relative;
    top: -70px;
    margin-left: 70px;
  }
}
.two_item_2{
  width: 75%;
  background: url('/img/main/bg-5.jpg') center no-repeat;
  background-size: cover;
  height: 350px;
  position: relative;
  figcaption{
    width: 45%;
    bottom: 0;
    left: 0;
  }
}
.two_item_3, .two_item_4{
  width: 50%;

}
.two_item_3{
  .two_img_box{
    width: 80%;
    height: 290px;
  }
}
.two_item_3__1{
  position: relative;
  .round_text{
    position: absolute;
    right: -30%;
    top: 20%;
    z-index: 1;
  }
  .round_svg{
    position: absolute;
    z-index: -1;
    top: -25px;
  }
}
.two_item_3__1 .two_img_box{
  background: url('/img/main/bg-6.jpg') center no-repeat;
  background-size: cover;
  position: relative;
  figcaption{
    left: 0;
    bottom: 0;
  }
}
.two_item_3__2{
  margin-top: 40px;
  .two_img_box{
    background: url('/img/main/bg-7.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    margin: 12px 0 0 auto;
  }
  figcaption{
    right: 0;
    bottom: 0;
  }
  .round_text{
    padding-left: 60px;
  }
  .round_svg{
    position: relative;
    top: 10px;
    left: 35px;
    z-index: -1;
  }
}
.two_item_4{
  .two_img_box{
    width: 92%;
    height: 270px;
    background: url('/img/main/bg-8.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    margin: 20px 0 0 auto;
  }
  .round_text{
    text-align: right;
  }
  figcaption{
    left: 15%;
    bottom: -10%;
  }
}
.three{
  height: 530px;
  position: relative;
  margin-bottom: 50px;
  .line_right{
    background-color: $blue;
  }
  figcaption{
    padding: 24px 80px;
    width: 100%;
    max-width: 570px;
    left: 50%;
    bottom: -50px;
    transform: translateX(-50%);
  }
}
.name_box{
  padding: 10px 50px 24px;
  background: #fff;
}
.three_item__1{
  width: 40%;
  height: 100%;
  background: url('/img/main/bg-9.jpg') center no-repeat;
  background-size: cover;
  position: relative;
}
.three_item__2{
  width: 60%;
  height: 100%;
  background: url('/img/main/bg-10.jpg') center no-repeat;
  background-size: cover;
}
.three_btn{
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 14px;
  & > *{
    display: inline-block;
    vertical-align: middle;
  }
}

.four .wrapper{
  min-height: 625px;
  background: url('/img/main/bg-11.jpg') left no-repeat;
  .line_right{
    background-color: $blue;
    // max-width: 350px;
  }
  .section_name{
    margin: 12px 0;
  }
}
.four_info{
  width: 50%;
  max-width: 460px;
  background-color: #ffffff;
  padding: 30px 40px;
  margin: 0 0 0 auto;
  position: relative;
  z-index: 1;
  p{
    letter-spacing: -.5px;
    line-height: 1.8;
  }
  .round_svg{
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
  }
}
.five{
  margin-top: 30px;
  .section_name{
    margin: 12px 0;
    text-align: right;
  }
  .line_left{
    background-color: $blue;
    margin: 16px 0 0 auto;
  }
  .bx-wrapper{
    margin-top: 50px;
  }
  .bx-wrapper .bx-prev {
    left: -50px;
  }
  .bx-wrapper .bx-next {
    right: -50px;
  }
}
.news_slider_item{
  position: relative;
  width: 320px;
  height: 310px;
  figcaption{
    width: 100%;
    left: 0;
    bottom: 0;
  }
  a{
    position: absolute;
    top: -30px;
    right: 0;
    width: 50%;
    background: #ffffff;
    height: 30px;
    text-align: center;
    line-height: 30px;
    letter-spacing: 3px;
  }
}
.news_slider{
}
.news_slider_item_1{
  background: url('/img/main/bg-12.jpg') top no-repeat;
  background-size: 100% auto;
}
.subscribe{
  height: 52px;
  width: 100%;
  max-width: 520px;
  border: 1.5px solid #99a0b0;
  margin: 30px auto;
  position: relative;
  &:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 70%;
    background: $blue;
    left: 70%;
  }
  input{
    height: 100%;
    border:none;
    -webkit-appearance: none;
    background: none;
    color: $blue;
    outline: none;
  }
  input[type="email"]{
    width: 70%;
    padding-left: 20px;
    letter-spacing: 3px;
  }
  input[type="submit"]{
    width: 30%;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    letter-spacing: 1px;
  }
  ::-webkit-input-placeholder { color: $blue; letter-spacing: 3px;}
  ::-moz-placeholder { color: $blue; letter-spacing: 3px;}
  :-ms-input-placeholder { color: $blue; letter-spacing: 3px;}
  :-moz-placeholder {color: $blue; letter-spacing: 3px;}
}
.six{
  .line_right{
    background-color: $blue;
    margin: 30px 0;
  }

}
.section_gallery{
  height: 630px;
  width: 100%;
}
.section_gallery_item{
  height: 100%;
  width: 100%;
}
.six_wrapper{
  position: relative;
}
.section_gallery_item__1{background: url('/img/gallery/gallery-1.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__2{background: url('/img/gallery/gallery-2.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__3{background: url('/img/gallery/gallery-3.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__4{background: url('/img/gallery/gallery-4.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__5{background: url('/img/gallery/gallery-5.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__6{background: url('/img/gallery/gallery-6.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__7{background: url('/img/gallery/gallery-7.jpg') center no-repeat; background-size: cover;}
.section_gallery_item__8{background: url('/img/gallery/gallery-8.jpg') center no-repeat; background-size: cover;}
.wrapper_pager{
  position: absolute;
  background: rgba(0,0,0,.6);
  padding: 10px 70px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}
.gal_min_item{
  border: 3px solid transparent;
  transition: 0.5s;
}
.gal_min_item:hover{
  border: 3px solid $blue;
}

.seven{
  margin-top: 40px;
  margin-bottom: 30px;
  .section_name{
    text-align: right;
  }
  .line_left{
    background: $blue;
    margin: 30px 0 30px auto;
  }
  .round_text{
    margin-bottom: 160px;
    z-index: 1;
    text-transform: uppercase;
  }
  .round_svg{
    position: absolute;
    z-index: -1;
    left: -50px;
    top: -50px;
  }
  .button_arrow{
    margin: 30px auto 0 0;
    float: none;
    display: block;
  }
  .number{
    font-size: 60px;
  }
}
.seven_info{
  width: 30%;
  position: relative;
  line-height: 1.8;
  padding: 0 30px 30px;
}
.seven_text{
  font-size: 20px;
}
.seven_img{
  width: 70%;
  height: 470px;
  background: url('/img/main/bg-13.jpg') center no-repeat;
  background-size: cover;
}
.seven_box{
  width: 300px;
  background: rgba(255,255,255,.9);
  padding: 12px;
  margin: 50px 50px 0 auto;
  text-align: center;
  .bold{
    text-transform: uppercase;
    margin: 12px auto;
  }

  .flex{
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    align-items: flex-start;;
    -webkit-align-items: flex-start;
    letter-spacing: 0;
  }
  p:not(.thin){
    line-height: 1.8;
  }
}
.seven_item{
  width: 50%;
  text-align: center;
}
.footer{
  background: url('/img/main/footer.jpg') center no-repeat;
  background-size: cover;
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after{
    content: url('/img/round_logo-footer.png');
    width: 250px;
    height: 250px;
    position: absolute;
    left: calc(50% + 300px);
    z-index: -1;
top: 20px;
  }
  .border_link{
    font-size: 18px;
    text-transform: uppercase;
    padding: 16px 10px;
  }
  .wrapper{
    align-items: flex-start;
    -webkit-align-items: flex-start
  }
}
.menu_subname{
  font-size: 20px;
  color: $yellow;
  text-transform: uppercase;
  line-height: 1.8;
}
.footer_menu_item{
  padding: 0 20px;
  line-height: 1.8;
}
.menu_links{
  text-transform: uppercase;
  line-height: 1.8;
}
.footer_tel{
  font-size: 30px;
  font-weight: 500;
}
.footer .copyright{
  margin-top: 24px;
  align-items: flex-end;
  padding-bottom: 12px;
  a{
    display: inline-block;
    margin: 0 6px;
  }
}
.studio_link{
  width: 100px;
  display: inline-block;
  span{
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 8px;
  }
}
@import "_filter";
@import "_map";
